<%- include('partials/header.ejs')%>

       <!-- Carousel Start -->
       <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="\files\carousel_1.jpg" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Ringlights</h1>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="files\carousel_2.jpg" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Backdrops</h1>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="files\carousel_3.jpg" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Vlogging kits</h1>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="/files/carousel_5.jpg" alt="">

                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="/files/carousel_4.jpg" alt="">

                </div>
            </div>
        </div>
    </div>

    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
        <div class="row px-xl-5 pb-3">
    <%category.forEach(function(category){%>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/?category=<%=category.name%>#found_products">
                    <div class="cat-item d-flex align-items-center mb-4">
                         <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="<%=category.image%>" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6><%=category.name%></h6>
                        </div>
                    </div>
                </a>
            </div>         
    <%})%>
        </div>
      </div>

    <!-- Categories End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3" id="found_products">
            <%if(foundcategory){%>
                <%if(products.length > 0){%>
                    <h4 class="text-center ca-go"><strong>Shop <%=foundcategory%></strong</h4>
                         <hr>
                <%}else{%>
                      <h3 class="text-center ca-go">Shop <strong><%=foundcategory%></strong</h3>
                        <center><a href="/"><button class="btn btn-sm btn-info btn-bd-ra"><span class="fa fa-angle-left"></span> go back</button></a></center>
                    <%}%>
            <%}%>

            <%if(search){%>
                <%if(products.length > 0){%>
                    <h3 class="text-center ca-go">Products that match your search <strong>"<%=search%>"</strong></h3>
                    <center><a href="/"><button class="btn btn-sm btn-info btn-bd-ra"><span class="fa fa-angle-left"></span> go back</button></a></center>
                      <hr>
                <%}else{%>
                      <h3 class="text-center ca-go">No product match your search <strong>"<%=search%>"</strong></h3>
                      <center><a href="/"><button class="btn btn-sm btn-info btn-bd-ra"><span class="fa fa-angle-left"></span> go back</button></a></center>
                    <%}%>
            <%}%>

        <%if(!search && !foundcategory){%>
       <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
            <%}%>
        <div class="row px-xl-5">
            <% products.forEach(function(product,index){%>
                <div class="col-lg-3 col-6 pb-1">
                <div class=" bg-light mb-4">
                    <a href="/products/<%=product._id%>">
                        <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="<%=product.image%>" alt="" >
                        </div>
                        <div class="text-center py-4">
                        <p class="h6 text-decoration-none text-truncate"><%=product.name%></p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%=currency%><%=product.price%></h5><h6 class="text-muted ml-2"><del><%=currency%><%=product.oldPrice%></del></h6>
                        </div></a>

                        <%if(user && currentAdmin){%>
                        <% var popupId = "popup-" + index; %>
                            <a href="/admin/<%=product._id%>/product/edit"><button class="btn btn-bd-ra btn-warning btn-sm">Edit</button></a> 
                              <p></p>
                        <!-- add unique ID to pop-up element -->
                               <div id="<%= popupId %>" class="popup form-delete">
                                         <h5 class="text-Lfont">Are you sure you want to remove this product?</h5>
                                         <h5>removing this product would also remove it from everyone's cart</h5>
                                    <form action="/admin/delete/<%=product._id%>/product" method="post">
                                        <button type="button" class="btn-sm btn-bd-ra btn btn-outline-dark" onclick="closeDeletePopup('<%= popupId %>')">Cancel</button>
                                       <button class="btn btn-danger btn-bd-ra con-ord-btn btn-sm" type="submit">Remove</button>
                                    </form>            
                              </div>
                        <button class="text-center btn-danger btn-bd-ra con-ord-btn btn-sm btn-delete" onclick="toggleDeletePopup('<%= popupId %>')">Delete</button>
                        <%}%>

                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <form action="/cart/<%=product._id%>" method="post">
                               <button class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
           <% }) %>
              </div>
          </div>
          </div>
   <!--- Products End -->

    <%- include('partials/footer.ejs')%>